@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins',
sans-serif; */

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',
        sans-serif;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;

}

:root {
    /* FONT SIZE */
    --fs-sm: 18px;
    --fs-mg: 20px;
    --fs-lg: 24px;
    --fs-xl: 36px;
    --fs-xxl: 48px;

    /* COLOR */
    --main_clr: #000000;
    --sec-white: #ffffff;
    --accor-data: #4D4813;
    --sec2-para-clr: #33300D;
    --clr-red: #F4241E;

    /* BG COLOR */
    --bg-dark: #F6E300;
    --bg-light: #FFF03F;
}

.gap_30 {
    gap: 6px;
}

li a {
    font-size: var(--fs-sm) !important;
    font-weight: 400 !important;
    color: var(--main_clr) !important;
}

.bg_dark {
    background-color: var(--bg-dark);
}

ul li a:hover {
    color: var(--clr-red) !important;
    font-weight: 600 !important;
}

.fs_20 {
    font-size: var(--fs-mg);
}

.connect_btm {
    font-weight: 500;
    padding: 12px 32px;
    color: #F4241E;
    border-radius: 10px;
    border: 0px;
}

/* SECTION ONE */

.fw_700 {
    font-weight: 700;
}

.fs_xl {
    font-size: var(--fs-xl);
}



.ham1 {
    top: -36px;
    left: 174px;
}

.ham2 {
    top: 175px;
    left: -250px;
}

.ham3 {
    top: -54px;
    right: -218px;
}

.ham4 {
    top: 200px;
    right: 0px;
}

.cheese1 {
    top: -50px;
    left: -150px;
}

.cheese2 {
    bottom: 92px;
    left: 60px;
}

.cheese3 {
    top: -7px;
    right: 204px;
}

.cheese4 {
    bottom: 130px;
    right: -230px;
}

.min_h_200 {
    min-height: 200px;
}

/* SECTION TWO */

.max_w_806 {
    max-width: 806px;
}

.fs_xxl {
    font-size: var(--fs-xxl);
}

.fw_400 {
    font-weight: 400;
}

.fs_18 {
    font-size: var(--fs-sm);
}

.clr_main {
    color: var(--main_clr);
}

.sec2_para {
    color: var(--sec2-para-clr);
}



.fw_500 {
    font-weight: 500;
}

.discover_btn {
    border: 0px;
    border-radius: 10px;
    color: var(--sec-white);
    background-color: var(--clr-red);
    padding: 15px 32px;
}

.bg_light_yellow {
    background-color: var(--bg-light);
}

/* SECTION THREE */

.hover_large:hover {
    transform: scale(1.1);
    transition: all .4s linear;

}


.clr_white {
    color: var(--sec-white);
}

.bg_red {
    background-color: var(--clr-red);
}

.clr_FDD3D2 {
    color: #FDD3D2;
}

.fs_lg {
    font-size: var(--fs-lg);
}

/* .max_w_922{
    max-width: 922px;
    margin-left: auto;
    margin-right: auto;
} */



/* ACCORDIAN */
.accordion-button:not(.collapsed) {
    color: var(--main_clr);
    font-weight: 600;
    font-size: var(--fs-sm);
    background-color: var(--bg-light);
    box-shadow: none;
}

.accordion-button {
    color: var(--main_clr);
    font-weight: 600;
    font-size: var(--fs-sm);
    background-color: var(--bg-light);
    padding: 23px 31px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/png/accodian_arrow.png);
}

.accordion-button::after {
    background-image: url(../images/png/accodian_arrow.png);
}

.accordion-item {
    background-color: var(--bg-light);
    color: #4D4813;
}

.accordion {
    --bs-accordion-border-color: var(--bg-light)
}

.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0px;
    box-shadow: none;
}

.clr_4A4400 {
    color: #4A4400;
}

.max_w_524 {
    max-width: 524px;
}

.accordion-body {
    padding: 0px 31px 16px 31px;
}


.bg_yellow {
    background-color: #F6E300;
}

/* TIMELINE */
ol li {
    list-style-type: decimal;
    list-style-position: inside;
}

.d_flex {
    display: flex;
}

.box_container {
    width: 50%;
    padding: 40px 40px;
    position: relative;

}

.content {
    background-color: white;
    padding: 27px 23px;
    border-radius: 10px;
}

/* timeline circle */
.left::after {
    content: '';
    width: 36px;
    height: 36px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 0px solid black;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: -18px;

}

.right::after {
    content: '';
    width: 36px;
    height: 36px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 0px solid black;
    position: absolute;
    z-index: 1;
    top: 40px;
    right: -18px;

}

.left {
    left: 50%;
}

.Timeline {
    max-width: 1320px;
    position: relative;
    margin: 0 auto;
}

.Timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    top: 50px;
    bottom: 185px;
    left: 50%;
    margin-left: -3px;
    background-color: #F4241E;
}


/* shape and style of fonts */
.content h3 {
    font-size: var(--fs-lg);
    font-weight: 700;
    line-height: 36px;
    font-family: 'Poppins',
        sans-serif;
}

.content ol li {
    font-size: var(--fs-lg);
    line-height: 36px;
    font-weight: 400;
    font-family: 'Poppins',
        sans-serif;
}



.roadmap {
    font-size: var(--fs-xxl);
    line-height: 72px;
    font-weight: 700;
    font-family: 'Poppins',
        sans-serif;
    text-align: center;
    padding-top: 73px;
}


/* burgger position */
.pos_relative {
    position: relative;
}

.pos_absolute {
    position: absolute;
}

.one {
    top: 66px;
    left: 116px
}

.two {
    top: 375px;
    left: -113px;
}

.one_hame {
    top: 608px;
    left: 175px;
}

.two_hame {
    top: 845px;
    left: -128px;
}

.three_hame {
    top: 92px;
    right: -123px;
}

.three {
    top: 282px;
    right: 300px;
}

.four_hame {
    top: 830px;
    right: 330px;
}

.four {
    top: 819px;
    right: -123px;
}


@media (max-width:1782px) {
    .d_none_1780 {
        display: none;
    }
}

@media (max-width:1570px) {
    .d_none_1570 {
        display: none;
    }
}

@media (max-width:992px) {
    .d_none_992 {
        display: none;
    }

    .md_position {
        position: absolute;
        right: 100px;
    }
}

@media (max-width:768px) {
    .d_none_sm {
        display: none;
    }

    .Timeline::after {
        left: 40px;
    }

    .box_container {
        width: 100%;
        padding: 40px 100px;
    }

    .left_container_arrow {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .mt_30_756 {
        margin-top: 30px;
    }

    .left {
        left: 0;
    }

    .Timeline::after {
        bottom: 205px;

    }

    .max_h_500 {
        max-height: 500px;
    }

    .left::after,
    .right::after {
        left: 22px;
    }

    .mt_lg_73 {
        margin-top: 24px;
    }
}

@media (max-width:568px) {
    .box_container {
        padding-left: 70px;
        padding-right: 10px;
    }

    .logo_max_w {
        max-width: 150px;
    }

    .max_w_50 {
        max-width: 50px;
    }

    .Timeline::after {
        bottom: 234px;

    }

    .sec_3 div {
        text-align: center;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .pad_54 {
        padding: 28px;
    }
}

@media (max-width:568px) {
    :root {
        /* FONT SIZE */
        --fs-sm: 12px;
        --fs-mg: 13px;
        --fs-lg: 16px;
        --fs-xl: 26px;
        --fs-xxl: 35px;
    }

    .roadmap {
        padding-top: 34px;
    }
}

@media (min-width:568px) {
    .sec_3 div {
        text-align: center;
        padding: 14px;
    }

    .pad_y_100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pad_54 {
        padding: 54px;
    }

    .roadmap {
        padding-top: 73px;
    }
}

@media (min-width:768px) {
    .h_100_md {
        height: 100%;
    }

    .mt_lg_73 {
        margin-top: 73px;
    }
}

@media (min-width:992px) {
    .max_w_591 {
        max-width: 591px;
    }

    .pad_y_100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .px_150 {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media (min-width:1200px) {
    .gap_30 {
        gap: 30px;
    }
}